{% load static %}
<html>

<head>
    <title>Botopia</title>
    <link href="{% static 'css/addBot2.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/file-upload-with-preview.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"><!-- for social icon -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>


    </style>
</head>

<body>
    <section class="banner" id="sec">
        <header>
            <p class="header">Botopia</p>
            <div class="user">
                <button class="userbtn">{{username}}</button>
                <div class="dropdown-content">
                    <a href="/userProfile/">Profile</a>
                    <a href="/Logout/">Logout </a> </div>
            </div>
            <div id="toggle" onclick="toggle()"></div>
            </div>
        </header>
        <div class="rect">
            <div class="rect2">
                <p>Add bot on Botopia</p>
            </div>
            <div class="rect3">
                <!-- {{message}} -->
                <form method="POST" action="/AddBot/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="uploadimg">
                        <div class="custom-file-container" data-upload-id="myupload">
                            <label style="color: rgb(32, 0, 61);">Bot image<a href="javascript:void(0)"
                                    class="custom-file-container__image-clear label"></a>
                            </label>
                            <!-- {{message}}
                        <form method="POST" action="/AddBot/" enctype="multipart/form-data">
                            {% csrf_token %} -->
                            <label class="custom-file-container__custom-file">
                                <input type="file" class="custom-file-container__custom-file__custom-file-input"
                                    name="bot_image" accept="image/*">
                                <input type="hidden" name="MAX_FILE_SIZE" value="10485760">
                                <span class="custom-file-container__custom-file__custom-file-control"></span>
                            </label>

                            <div class="custom-file-container__image-preview"
                                style="overflow: hidden; width: 140px; height: 200px; margin-left: 50px;"></div>
                        </div>
                    </div>
                    <div class="input">
                        <!-- <div id="form"> -->
                            <div class="form__group">
                                <input type="text" class="form__field" placeholder="Name" name="bot_name" id='bot_name'
                                    autocomplete="off" required />
                                <label for="name" class="form__label">Bot Name</label>
                            </div>

                            <div class="form__group">
                                <input type="number" class="form__field" placeholder="Id" name="bot_id" id='bot_id'
                                    autocomplete="off" required />
                                <label for="name" class="form__label">Bot Id</label>
                            </div>

                            <div class="form__group">
                                <input type="text" class="form__field" placeholder="Bot URL" name="bot_url" id='bot_url'
                                    autocomplete="off" required />
                                <label for="name" class="form__label">URL</label>
                            </div>

                            <div class="form__group">
                                <textarea cols="50" rows="1" class="form__field" placeholder="Bot description"
                                    name="bot_desc" id='bot_desc' autocomplete="off" required></textarea>
                                <label for="name" class="form__label">Description</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="addbtn">SAVE</button>

                </form>
            </div>
        </div>
    </section>
    <div id="navigation">
        <ul>
            <li><a href="/Home/" data-text="Home">Home</a></li>
            <li><a href="/startsearch/" data-text="Home">Search Bot</a></li>    
            <li><a href="/about/" data-text="About">About</a></li>
            <li><a href="/contact/" data-text="Contact">Contact</a></li>
        
        </ul>
        <div class="social_icon">

            <a class="btn" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-google"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>

    <script>
        function toggle() {
            var sec = document.getElementById("sec");
            var nav = document.getElementById("navigation");
            sec.classList.toggle('active');
            nav.classList.toggle('active');
        }
    </script>
    <script src="{% static 'js/file-upload-with-preview.min.js' %}"></script>
    <script>
        var upload = new FileUploadWithPreview('myupload');
    </script>
</body>

</html>