{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/startsearching.css' %}">
</head>
<body>
   <div id="particles-js"></div>
        <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

    <form method="post" action="/Change_password/">
        {% csrf_token %}
        Enter Password:<input type="text" name="new_pass" id="new_pass"><br>
        Confrim Password:<input type="text" name="confrim_new_pass" id="confrim_new_pass">
        <button type="submit">Change Password</button>
    </form>

</body>
</html>
