{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Botopia</title>
    <link href="{% static 'css/Change_password.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"><!-- for social icon -->
</head>

<body>
    <section class="banner" id="sec">

        <header>
            <p>BOTOPIA</p>
            {% if login_email != "none" and login_email != 1 %}
            <div class="user">
                    <button class="userbtn">{{username}}</button>
                    <div class="dropdown-content">
                        <a href="/userProfile/">Profile</a>
                        <a href="/dup_addBot/">Add Bot</a>
                        <a href="/Logout/">Logout</a>
                    </div>
            </div>
            {% endif %}
            <div id="toggle" onclick="toggle()"></div>
        </header>
        <div id="particles-js"></div>
        <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

        <div class="screen">
            <!-- <img src="{% static 'image/bot.png' %}" alt="handshake"> -->
            <form method="POST" id="form" action="/Change_password/">
                {% csrf_token %}
                <div class="form_group" align="center" id="msg" style="color:yellow; font-style:italic"> {{message}} </div>
                <div class="form__group_Email">
                    <input type="password" class="form__field" placeholder="Enter Password" name="new_pass" id='new_pass'
                        autocomplete="off" required />
                    <label for="name" class="form__label">Enter Password</label>
                </div>

                <div class="form__group_Email">
                    <input type="password" class="form__field" placeholder="Enter Password" name="confrim_new_pass"
                        id='confrim_new_pass' autocomplete="off" required />
                    <label for="name" class="form__label">Confirm Password</label>
                </div>

                <div class="button">
                    <button type="submit" class="NMbutton" >Change Password</button>
                </div>
            </form>
        </div>
    </section>
    <div id="navigation">
        <ul>
            <li><a href="/Home/" data-text="Home">Home</a></li>
            <li><a href="/startsearch/" data-text="Home">Search Bot</a></li> 
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
            <!-- <li><a href="/Logout/" data-text="Logout">Logout</a></li> -->
        </ul>
        <div class="social_icon">

            <a class="btn" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-google"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
    <script>
        function toggle() {
            var sec = document.getElementById("sec");
            var nav = document.getElementById("navigation");
            sec.classList.toggle('active');
            nav.classList.toggle('active');
        }

        setTimeout(function(){
            document.getElementById("msg").innerHTML = " ";
        }, 5000);
        
    </script>



</body>

</html>