{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Botopia</title>
    <link rel="stylesheet" href="{% static 'css/forgot_pass.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"><!-- for social icon -->

</head>

<body>
    <section class="banner" id="sec">
        <header>
            <p>BOTOPIA</p>
            <div id="toggle" onclick="toggle()"></div>
        </header>
        <div id="particles-js"></div>
        <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>




        <div class="screen">
            <!-- <img src="{% static 'image/bot.png' %}" alt="handshake"> -->
            <form method="POST">
                {% csrf_token %}
                <div class="form_group" align="center" id="msg" style="color:yellow; font-style:italic"> {{message}} </div>
                <div class="form__group">
                    <input type="input" class="form__field" placeholder="Enter Email" name="for_user_email"
                        id='for_user_email' autocomplete="off" required />
                    <label for="name" class="form__label">Enter Email</label>
                </div>

                <div class="form_group">
                    <button type="submit" class="NMbutton" formaction="/Forget_pass/">Get OTP</button>
                </div><br>
            </form>
        </div>

    </section>
    <div id="navigation">
        <ul>
            <li><a href="/Home/" data-text="Home">Home</a></li>
            <li><a href="/startsearch/" data-text="Search Bot">Search Bot</a></li>    
            <li><a href="/about/" data-text="About">About</a></li>
            <li><a href="/contact/" data-text="Contact">Contact</a></li>
        </ul>
        <div class="social_icon">

            <a class="btn" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-google"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
    <script>
        function toggle() {
            var sec = document.getElementById("sec");
            var nav = document.getElementById("navigation");
            sec.classList.toggle('active');
            nav.classList.toggle('active');
        }

        setTimeout(function(){
            document.getElementById("msg").innerHTML = " ";
        }, 5000);

    </script>
</body>

</html>