{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>Verify</title>
        <link rel="stylesheet" href="{% static 'css/stylegetStarted.css' %}">
    </head>

    <body onload="wait()">
        <p> {{message}} </p>
        <div id="particles-js"></div>
        <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

        <form method = "POST">
            {% csrf_token %}
            <div class="form__group">
                <input type="number" class="form__field" placeholder="Enter OTP" name="forget_pass_otp" id='forget_pass_otp' required />
                <label for="Password" class="form__label">OTP</label>
            </div>

            <div class="button">
                <button type="submit" class = "NMbutton" formaction="/Forget_pass_verify/" value="Verify">Verify</button>
            </div>
        </form>

        <form action="/Forget_pass_verify_resend/" method="POST">
            {% csrf_token %}
            Did not get OTP: <div id ="timer"></div>
            <div>
                <button id="link" disabled> Resend </button>                 
            </div>
        </form>
    </body>
    <script>
        i = 60;
        var link = document.getElementById('link');
        function wait() {
        if(i==0){
            document.getElementById('timer').innerHTML = ""
        }
        else{
            document.getElementById('timer').innerHTML = i;
        }
            i--;
            if (i < 0) {
                link.disabled = false
            }
            else {
            setTimeout(wait, 1000);
            }        
        }
        </script>
</html>