{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Forget Password</title>
        <link rel="stylesheet" href="{% static 'css/stylegetStarted.css' %}">
    </head>
<body>
    <h1> {{message}} </h1>
    <div id="particles-js"></div>
    <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <form method = "POST" >
        {% csrf_token %}
       <div class="form__group">
           <input type="input" class="form__field" placeholder="Email" name="for_user_email" id='for_user_email' style="width:500px" required/>
           <label for="name" class="form__label">Username</label>
       </div>

       <div class="form_group">
            <button type="submit" class="NMbutton" formaction="/Forget_pass/">Get OTP</button>
       </div>
    </form>
</body>
</html>