{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>Verify</title>
        <link rel="stylesheet" href="{% static 'css/stylegetStarted.css' %}">
    </head>

    <body>
        <p> {{message}} </p>
        <div id="particles-js"></div>
        <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

        <form method = "POST">
            {% csrf_token %}
            <div class="form__group">
                <input type="number" class="form__field" placeholder="Enter OTP" name="forget_pass_otp" id='forget_pass_otp' required />
                <label for="Password" class="form__label">OTP</label>
            </div>

            <div class="button">
                <button type="submit" class = "NMbutton" formaction="/Forget_pass_verify/" value="Verify">Verify</button>
            </div>

            <div class="button">
                <a href="/Forget_pass_verify_resend/" class="NMbutton">Resend</a>
            </div>
            <!-- <div>
                <a href="/Resend_otp/" class="NMbutton">Resend</a>
            </div> -->
        </form>
    </body>
</html>