{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Botopia</title>
    <link rel="stylesheet" href="{% static 'css/logincss4.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"><!-- for social icon -->
</head>

<body>

    <!-- <h1>{{status}}</h1> -->
    <section class="banner" id="sec">
        <header>
            <p>BOTOPIA</p>
            <div id="toggle" onclick="toggle()"></div>
        </header>
        <div id="particles-js"></div>
        <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
        <div class="screen">
            <!-- <img src="{% static 'image/bot.png' %}" alt="handshake"> -->
            <form method="POST" id="form">
                {% csrf_token %}
                <div class="form_group" align="center" id="msg" style="color:yellow; font-style:italic"> {{message}} </div>
                <div class="form__group">
                    <input type="text" class="form__field" placeholder="Username" name="login_email" id='login_email'
                         required />
                    <label for="name" class="form__label">Username</label>
                </div>

                <div class="form__group">
                    <input type="password" class="form__field" placeholder="Password" name="login_password"
                        id='login_password' autocomplete="off" required />
                    <label for="Password" class="form__label">Password</label>
                </div>

                <!-- <div class="message">{{message}}</div> -->
                <div class="form__group_button">
                    <button type="submit" class="NMbutton" formaction="/Login/">Login</button>
                    <a href="/forget_password/" class="Abutton">Forget Password</a>
                    <a href="/signup/" class="Rbutton">Register</a>
                </div>
            </form>
        </div>
    </section>
    <div id="navigation">
        <ul>
            <li><a href="/Home/" data-text="Home">Home</a></li>
            <li><a href="/startsearch/" data-text="Search Bot">Search Bot</a></li>
            <li><a href="/about/" data-text="About">About</a></li>
            <li><a href="/contact/" data-text="Contact">Contact</a></li>
        </ul>
        <div class="social_icon">

            <a class="btn" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-google"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
    <script>
        function toggle() {
            var sec = document.getElementById("sec");
            var nav = document.getElementById("navigation");
            sec.classList.toggle('active');
            nav.classList.toggle('active');
        }
        setTimeout(function(){
            document.getElementById("msg").innerHTML = " ";
        }, 5000);
    </script>
</body>

</html>