{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Create Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"><!-- for social icon -->
    <link rel="stylesheet" href="{% static 'css/signup2.css' %}">
</head>

<body>
  

    <section class="banner" id="sec">

        <header>
            <p>BOTOPIA</p>
            <div id="toggle" onclick="toggle()"></div>
        </header>
        <div id="particles-js"></div>
        <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
        
        <div class="screen">
            <!-- <img src="{% static 'image/bot.png' %}" alt="handshake"> -->
            <form method="POST" action="/Signup/">
                {% csrf_token %}
                <!-- {% csrf_token %} -->
                <div class="form_group" align="center" id="msg" style="color:yellow; font-style:italic"> {{message}} </div>
                <div class="form__group_Email">
                    <input type="email" class="form__field" placeholder="Email" name="new_Email" id='new_Email' autocomplete="off" required />
                    <label for="name" class="form__label">Email</label>
                </div>
    
                <div class="form__group">
                    <input type="input" class="form__field" placeholder="Name" name="new_Name" id='new_Name' autocomplete="off" required />
                    <label for="name" class="form__label">Name</label>
                </div>
    
                <div class="form__group">
                    <input type="password" class="form__field" placeholder="Password" name="new_Password" id='new_Password'
                        required />
                    <label for="Password" class="form__label">Password</label>
                </div>
                <div class="form__group">
                    <input type="password" class="form__field" placeholder="Confirm Password" name="confirm_Password"
                        id='confirm_Password' required />
                    <label for="Password" class="form__label">Confirm Password</label>
                </div>
    
                <div class="button">
                    <button type="submit" class="NMbutton">Register</button>
                </div>
                
            </form>
        </div>
    </section>
    <div id="navigation" >
        <ul>
            <li><a href="#" data-text="Home">Home</a></li>
            <!-- <li><a href="/userProfile/" data-text="Profile">Profile</a></li> -->
            <li><a href="#" data-text="About">About</a></li>
            <li><a href="#" data-text="Contact">Contact</a></li>
            <li><a href="/startsearch/" data-text="Home">Search Bot</a></li>    
            <!-- <li><a href="/Logout/" data-text="Logout">Logout</a></li> -->
        </ul>
        <div class="social_icon">
    
            <a class="btn" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-google"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
    <script>
        function toggle() {
            var sec = document.getElementById("sec");
            var nav = document.getElementById("navigation");
            sec.classList.toggle('active');
            nav.classList.toggle('active');
        }

        setTimeout(function(){
            document.getElementById("msg").innerHTML = " ";
        }, 5000);

    </script>
</body>

</html>