{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <title>Botopia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
    <section class="banner" id="sec">
        <header>
            {% if login_email != "none" %}
            <p>BOTOPIA</p>
            <div class="user">
                <button class="userbtn">{{username}}</button>
                <div class="dropdown-content">
                    <!-- <a href="/userProfile/">Profile</a>
                    <li><a href="/dup_addBot/" data-text="Add Bot">Add Bot</a></li>
                    <a href="/Logout/">Logout</a> -->
                    <a href="/userProfile/">Profile</a>
                    <a href="/dup_addBot/">Add Bot</a>
                    <a href="/Logout/">Logout</a>
                </div>
            </div>
            {% else %}
            <p>BOTOPIA</p>
            {% endif %}
            <!-- <p>BOTOPIA</p> -->
            <div id="toggle" onclick="toggle()"></div>
        </header>

        <div class="addBot">
            <div class="container">
                {% for dest in bot_db %}
                <div class="box">
                    <div class="imgBx">
                        <img src="{{dest.bot_image.url}}">
                    </div>
                    <div class="content">
                        <h2>{{dest.bot_name}}</h2><br>
                        <!-- <p> Bot Developer : {{dest.author.name}} </p> -->
                        <p>{{dest.bot_desc}} </p><br>
                        <a href="{{dest.bot_url}}">Invite</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>

    <div id="navigation" class="navigation">
        <ul>
            <li><a href="/Home/" data-text="Home">Home</a></li>
            <li><a href="/about/" data-text="About">About</a></li>
            <li><a href="/contact/" data-text="Contact">Contact</a></li>
            {% if login_email != "none" %}
            <!-- <li><a href="/userProfile/" data-text="Profile">Profile</a></li> -->
            <li><a href="/dup_addBot/" data-text="Add Bot">Add Bot</a></li>
            <!-- <li><a href="/Logout/" data-text="Logout">Logout</a></li> -->
            {% endif %}
        </ul>
        <div class="social_icon">

            <a class="btn" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-google"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
    <script>
        function toggle() {
            var sec = document.getElementById("sec");
            var nav = document.getElementById("navigation");
            sec.classList.toggle('active');
            nav.classList.toggle('active');
        }
    </script>
</body>

</html>