    {% load static %}
    {% load static %}
    <!DOCTYPE html>
    <html>
    
    <head>
        <title>Get Started</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/startsearching.css' %}">
    </head>
    
    <body>
        <div>
            <button><a href="/Homepage/">Home</a></button>
        </div>
    {% for dest in bot_db %}    
        <div class="container">
            <div class="box">
                <div class="imgBx">
                    <img src="{{dest.bot_image.url}}" >
                </div>
                <div class="contentBx">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="contain">
                        <h2>Bot Name</h2>
                        <p>
                            {{dest.bot_name}}
                        </p>
                        <div class="tags">
                            <h4>Bot ID:</h4>
                            <p>{{dest.bot_id}}</p>
                        </div>
                        <div class="tags">
                            <h3>Bot URL</h3>
                            <p><button><a href="{{dest.bot_url}}" class="NMbutton">Invite</a></button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </body>
    </html>