{% load static %}
<html>
<head>
    <title>User Profile</title>
</head>
<body>
    {% if user_data.profile_pic == "none" %}
        <p>Profile Photo:</p>
        <p><img src="{% static 'image/user.jpg' %}" width = 150 height=150 id="output"></p>
        <form method="POST" enctype="multipart/form-data" action="/profile_pic/">
            {% csrf_token %}
            <p><input type="file" name="user_profile_pic" accept="image/*" onchange="loadFile(event)"></p>
            <button type="submit" id="done" disabled >Done</button>
        </form>

        <!-- <p> <img id="output" width="200"/> </p> -->
    {% else %}
        <p>Profile Photo:</p>
        <a href="/profile_pic/"><img src="{{user_data.profile_pic.url}}" id="output" width=140 height=140></a>
        <form method="POST" enctype="multipart/form-data" action="/profile_pic/">
            {% csrf_token %}
            <p><input type="file" name="user_profile_pic" accept="image/*" onchange="loadFile(event)"></p>
            <button type="submit" id="done" disabled>Done</button>
        </form>
    {% endif %}
    <p>Name:{{user_data.name}}</p>
    <p>Email:{{user_data.email}}</p>
    <p>Added Bots:</p>
    {% for dest in bot_data %}
        <p>{{dest.bot_name}}</p>
        <p>{{dest.bot_id}}</p>
        {% if dest.bot_image %}
            <p><img src="{{dest.bot_image.url}}" width = 200 height=200 alt="BotImage"></p>
        {% endif %}
    {% endfor %}
    {%if bot_data %}
        Want to remove bot?,<br>
        <form action="/Remove_bot/" method="POST">
            {% csrf_token %}
            <input type="number" name="rm_bot_id" placeholder="Enter Bot id ">
            <button type="submit"> Remove Bot </button>
        </form>
        {% endif %}
    <p><a href="/change_password/" class="Abutton">Change Password</a></p>
    <p><a href="/Logout/" class="Abutton">Logout</a></p>
    <a class="tag-detail" href="/dup_addBot/">AddBot</a>
    <p><a href="/Home/">Home</a>  </p>
    
    <script>
        var loadFile = function(event) {
	    var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
        var done = document.getElementById('done');
        done.disabled = false;
        };
    </script>
    <p>{{message}}</p>
</body>
</html>