{% load static %}
<!DOCTYPE HTML>
<html class="no-js">

<head>
    <title>Botopia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/userprofile.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"><!-- for social icon -->
</head>

<body>
    <section class="banner" id="sec">
        <header>
            <p>BOTOPIA</p>
            {% if login_email != "none" %}
            <div class="user">
                <button class="userbtn">{{username}}</button>
                <div class="dropdown-content">
                    <a href="/Logout/">Logout</a>
                    <a href="/dup_addBot/">Add Bot</a>
                    <a href="/change_password/">Change Password</a>
                    <!-- <a href="/Logout/"></a> -->
                </div>
            </div>
            {% else %}
            <p>BOTOPIA</p>
            {% endif %}
            <div id="toggle" onclick="toggle()"></div>
        </header>
        <div class="user1">
            {% if user_data.profile_pic == "none" %}
            <img src="{% static 'image/avatar.jpg' %}" id="output" class="avatar" alt="avatar">
            <form method="POST" enctype="multipart/form-data" action="/profile_pic/">
                {% csrf_token %}
                <input type="file" name="user_profile_pic" accept="image/*" onchange="loadFile(event)" id="file-1"
                    class="inputfile inputfile-1" required />
                <label for="file-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                        <path
                            d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                    </svg>
                    <span>Change your DP</span>
                </label>
                <button type="submit" class="dp_button" disabled id="done">Done</button>
            </form>
            {% else %}
            <img src="{{user_data.profile_pic.url}}" class="avatar" alt="avatar" id="output">
            <form method="POST" enctype="multipart/form-data" action="/profile_pic/">
                {% csrf_token %}
                <input type="file" name="user_profile_pic" accept="image/*" onchange="loadFile(event)" id="file-1"
                    class="inputfile inputfile-1" required />
                <label for="file-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                        <path
                            d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                    </svg>
                    <span>Change your DP</span>
                </label>
                <button type="submit" class="dp_button" disabled id="done">Done</button>
            </form>
            {% endif %}
            <div class="username">
                <span>{{user_data.name}}</span>
                <span>{{user_data.email}}</span>
            </div>
            {%if bot_data %}
            <form action="/Remove_bot/" method="POST">
                {% csrf_token %}
                <input type="number" name="rm_bot_id" placeholder="Enter Bot id " required>
                <button type="submit" class="button_rm"> Remove </button>
            </form>

            {% endif %}

        </div>
        <div class="addBot">
            <span>Your Bot</span>
            <div class="container">
                {% for dest in bot_data %}
                {% if dest.bot_image %}
                <div class="box">
                    <div class="imgBx">
                        <img src="{{dest.bot_image.url}}">
                    </div>
                    <div class="content">
                        <p>{{dest.bot_name}}</p> <br>
                        <p>{{dest.bot_id}}</p> <br>
                        <p> {{dest.bot_desc}} </p>
                        <!-- <a href="{{dest.bot_url}}">Invite</a> -->
                    </div>
                </div>
                {%endif %}
                {% endfor %}
            </div>
        </div>

    </section>
    <div id="navigation" class="navigation">
        <ul>
            <li><a href="/Home/" data-text="Home">Home</a></li>
            <!-- <li><a href="/userProfile/" data-text="Profile">Profile</a></li> -->
            <li><a href="/about/" data-text="About">About</a></li>
            <li><a href="/contact/" data-text="Contact">Contact</a></li>
            <li><a href="/startsearch/" data-text="Search Bot">Search Bot</a></li>
        </ul>
        <div class="social_icon">
            <a class="btn" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-google"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
    <script>
        function toggle() {
            var sec = document.getElementById("sec");
            var nav = document.getElementById("navigation");
            sec.classList.toggle('active');
            nav.classList.toggle('active');
        }
    </script>
    <!-- <script src="js/custom-file-input.js"></script> -->
    <script src="{% static 'js/custom-file-input.js' %}"></script>
    <script>
        (function (e, t, n) {
            var r = e.querySelectorAll("html")[0];
            r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2")
        })(document, window, 0);



    </script>
    <script>
        var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
            var done = document.getElementById('done');
            done.disabled = false;
        };
    </script>
</body>

</html>