{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Botopia</title>
    <link rel="stylesheet" href="{% static 'css/Verify3.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"><!-- for social icon -->
</head>

<body onload="wait()">


    <section class="banner" id="sec">

        <header>
            <p>BOTOPIA</p>
            <div id="toggle" onclick="toggle()"></div>
        </header>
        <div id="particles-js"></div>
        <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

        <p>{{message}}</p>

        <div class="screen">
            <!-- <img src="{% static 'image/bot.png' %}" alt="handshake"> -->
            <form method="POST" class="form">
                {% csrf_token %}
                <div class="form_group" align="center" id="msg" style="color:yellow; font-style:italic" > {{message}} </div>
                <div class="form__group">
                    <input type="number" class="form__field" placeholder="Enter OTP" name="signup_otp" id='signup_otp'
                        required />
                    <label for="Password" class="form__label">OTP</label>
                </div>
                <div class="button">
                    <button type="submit" class="Rbutton" formaction="/Verify/" value="Verify">Verify</button>
                </div>
            </form>
            <form action="/Resend_otp/" class="form1" method="POST">
                {% csrf_token %}
                <div class="resend">
                    <!-- <span> </span> -->
                    <h3 id="resend">Resend OTP<div id="timer"></div>
                    </h3>
                    <button id="link" class="Rbutton"> Resend </button>
                </div>
            </form>
        </div>
    </section>
    <div id="navigation">
        <ul>
            <li><a href="/Home/" data-text="Home">Home</a></li>
            <li><a href="/startsearch/" data-text="Search Bot">Search Bot</a></li>    
            <li><a href="/about/" data-text="About">About</a></li>
            <li><a href="/contact/" data-text="Contact">Contact</a></li>
        </ul>
        <div class="social_icon">

            <a class="btn" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-google"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="btn" href="#">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
    <script>
        function toggle() {
            var sec = document.getElementById("sec");
            var nav = document.getElementById("navigation");
            sec.classList.toggle('active');
            nav.classList.toggle('active');
        }
    </script>



    <script>
        setTimeout(function () {
            document.getElementById("link").style.display = "none";
        }, 100);
        i = 10;
        var link = document.getElementById('link');
        function wait() {
            if (i == 0) {
                document.getElementById('timer').innerHTML = ""
            }
            else {
                document.getElementById('timer').innerHTML = i;
            }
            i--;
            if (i < 0) {
                setTimeout(function () {
                    document.getElementById("resend").style.display = "none";
                }, 100);
                setTimeout(function () {
                    document.getElementById("link").style.display = "block";
                }, 100);
            }
            else {
                setTimeout(wait, 1000);
            }
        }

        setTimeout(function(){
            document.getElementById("msg").innerHTML = " ";
        }, 5000);
        
    </script>

</body>

</html>