*{
    /* margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(#0276FD,#00FFFF);
    background: url('/static/image/colorful.jpg');
    background-size: cover;   
    overflow: hidden;
    font-family: 'Poppins', sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem; */
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url('/static/image/colorful.jpg');    
    /* background: #fff; */
    background-size: cover;
    background-attachment: fixed;
    /* display: flex;
    align-items: center; */
    transition: 0.5s;
    overflow: hidden;
    z-index: 5;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    padding: 20px;
    transition: 0.6s;
    background: #0f52ba;
    z-index: 1;
}
header p{
    position: relative;
    /* top: -40px; */
    margin: 0;
    font-size: 40px;
    font-family: 'Arial Black';
    background: #fff;   
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
header #toggle{
    position: absolute;
    margin-right: 40px;
    margin-top: 20px;
    width: 30px;
    height: 30px;
    left: 95%;
    cursor: pointer;
}

header #toggle:before{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 3px;
    background: #fff;
}
header #toggle:after{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 3px;
    background: #fff;   
}
.banner.active  header #toggle:before{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.banner.active  header #toggle:after{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.banner.active{
    transition-delay: 0.1s;
    transform: translateX(-400px);
}

.user {
    position: absolute;
    display: inline-block;
    left: 75%;
    width: 15%;
    height: 60%;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}
  
.userbtn {
    background: transparent;
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
  background-color: #f1f1f1
}
  
.user:hover .dropdown-content {
    display: block;
}
  
.user:hover .userbtn {
    background-color: #0665f5;
}

#navigation{
    position: fixed;
    top: 0;
    right: -200px;
    width: 400px;
    height: 100vh;
    background: #40c3ff;
    z-index: 3;   
    display: grid;
    place-items: center;
    transition: 0.5s    ;
}
#navigation.active{
    right: 0;
}
#navigation ul{
    position: relative;
    display: flex;
    flex-direction: column;
}
#navigation ul li{
    list-style: none;
}
#navigation ul li a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
}
#navigation ul:hover li a{
    color: #0002;
}
#navigation ul li:hover a{
    color: #fff;
}
.social_icon{
    position: absolute;
    top: 90%;
    left: 6%;
    transform: translateY(-50%);
    width: 100%;
    /* text-align: center; */
    
}
.btn{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}
.btn i{
    line-height: 50px;
    padding-left: 30%;
    font-size: 18px;
    transition: 0.2s linear;
}
.btn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
}
.btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}
@keyframes aaa {
    0%{
      left: -110%;
      top: 90%;
    }50%{
      left: 10%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }
} 

#particles-js {
    position : absolute;
    width:100%;
    height:100%;
    z-index:-1;
}
.screen{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* top: -1000; */
    padding: 200px;
    width: 100%;
}
.screen img{
    position: relative;
    height: 55%;
    animation: updown 1s infinite alternate ;
}
@keyframes updown{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(100px);
    }   
}
form{
    position: relative;
    width: 70%;
    /* left: 13%; */
    padding: 5%;
    border: 2px solid #fff;
    box-shadow: 13px 13px  rgb(155, 148, 148);
}
.form__group_Email{
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #fff;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}


.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #fff;
}

.form__field:focus .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    /* color: #11998e; */
    font-weight:700;    
  
  /* padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-static/image: linear-gradient(to right, #11998e,#38ef7d);
  border-static/image-slice: 1; */
}

.NMbutton{
    margin-top: 5%;
    margin-right: 4%;
    /* margin-left: 3%;  */
    padding-left: 4%;
    padding-right: 5%;
    height: 50px;
    width: 250px;
    border: 2px solid #fff;
    /* border-radius: 10px; */
    font-family: 'Poppins', sans-serif; 
    background: transparent;
    /* border: transparent; */
    border: 2px solid #fff;
    box-shadow: 5px 5px rgb(160, 160, 160);
    color: #fff;
    font-size: 1.5rem;
}
.NMbutton:hover{
    background: #fff;
    border: transparent;
    /* border-radius: 10px; */
    color: #000;
}
@media  (max-width: 800px){
    header p{
        font-size: 30px;
    }
    header #toggle{
        left: 85%;
        top: 10px;
    }

    .banner.active{
        transition-delay: 0.1s;
        transform: translateX(-300px);
    }
    .social_icon{
        left: 26%;
    }
    .btn{
        height: 40px;
        width: 40px;
        margin: 5px;
    }
    #navigation ul{
        left: 10%;
    }
    #navigation ul li a{
        font-size: 2.5em;
    }
    .btn i{
        font-size: 15px;
        padding-bottom: 5%;
    }


    .screen{
        top: 150px;
        padding: 10px;
    }
    form{
        width: 270px;
        padding-bottom: 50px;
    }
    .form__group_button{
        height: 350px;
    }
}
@media  (max-width: 950px){
    form{
        width: 400px;
        /* padding-bottom: 100px; */
    }
}
@media  (max-width: 1326px){
    .form__group_button{
        height: 150px;
    }
}

