@font-face {
    font-family: "kgblankspacesketch-vyzv-webfont";
    src: url("kgblankspacesketch-vyzv-webfont.woff") format("woff");
    }
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background: url("static/image/Desktop1.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    
}
.background{
    float: left;
    
}
.container{
    margin-left: 8%;
    padding: 0;
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: row;
}
.rows{
    margin: 1%;
    height: 50%;
    width: 50%;

}
img{
    float: right;
    margin-top: 7%;
    margin-right: 6%;
}
h1{
    font-family: 'kgblankspacesketch-vyzv-webfont', Arial, sans-serif;
    font-size: 170px;
    color: #000;
    padding: 1%;
    margin: 0;
}
.background{
    height: fit-content;
    width: 100%;
}
.tag{
    font-size: 28px;
    font-weight: bold;
    color: #000;
    margin-bottom: 2%;
}
.tag-detail{
    font-size: 20px;
    color: 	#000;
    text-align: justify;
}
.button{
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    height: 20px;
    width: 40%;
    border: 2px solid #000;
    background-color: transparent;
    color: #000;
}
.button:hover{
    background-color: #fff;
    color: #000;
    border: transparent;
    border-radius: 5px;
    box-shadow: 10px 5px 10px #000;
}
a{
    text-decoration: none;
    color: #000;
}
#logoname{
    margin-top: 6%;
    margin-bottom: 5%;
    margin-left: 8%;
    animation: fill 1.3s ease forwards 3.0s;
}   
#logoname path:nth-child(1){
    stroke-dasharray: 610;
    stroke-dashoffset: 610;
    animation: dash 3s ease forwards;
}
#logoname path:nth-child(2){
    stroke-dasharray: 433;
    stroke-dashoffset: 433;
    animation: dash 3s ease forwards 0.3s;
}
#logoname path:nth-child(3){
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    animation: dash 3s ease forwards 0.6s;
}
#logoname path:nth-child(4){
    stroke-dasharray: 433;
    stroke-dashoffset: 610;
    animation: dash 3s ease forwards 0.9s;
}
#logoname path:nth-child(5){
    stroke-dasharray: 581;
    stroke-dashoffset: 581;
    animation: dash 3s ease forwards 1.3s;
}
#logoname path:nth-child(6){
    stroke-dasharray: 239;
    stroke-dashoffset: 239;
    animation: dash 3s ease forwards 1.5s;
}
#logoname path:nth-child(7){
    stroke-dasharray: 506;
    stroke-dashoffset: 506;
    animation: dash 3s ease forwards 1.8s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes fill {
    from{
        fill: transparent;
    }
    to{
        fill: #000;
    }
} 
