*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
/*svg design*/
#logoname{
    /* margin-top: 5%; */
    margin-bottom: 5%;
    margin-left: 1%;
    animation: fill 1.3s ease forwards 3.0s;
}   
#logoname path:nth-child(1){
    stroke-dasharray: 610;
    stroke-dashoffset: 610;
    animation: dash 3s ease forwards;
}
#logoname path:nth-child(2){
    stroke-dasharray: 433;
    stroke-dashoffset: 433;
    animation: dash 3s ease forwards 0.3s;
}
#logoname path:nth-child(3){
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    animation: dash 3s ease forwards 0.6s;
}
#logoname path:nth-child(4){
    stroke-dasharray: 433;
    stroke-dashoffset: 610;
    animation: dash 3s ease forwards 0.9s;
}
#logoname path:nth-child(5){
    stroke-dasharray: 581;
    stroke-dashoffset: 581;
    animation: dash 3s ease forwards 1.3s;
}
#logoname path:nth-child(6){
    stroke-dasharray: 239;
    stroke-dashoffset: 239;
    animation: dash 3s ease forwards 1.5s;
}
#logoname path:nth-child(7){
    stroke-dasharray: 506;
    stroke-dashoffset: 506;
    animation: dash 3s ease forwards 1.8s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes fill {
    from{
        fill: transparent;
    }
    to{
        fill: #000;
    }
} 

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    transition: 0.6s;

}
header .logo{
    /* display: none; */
    color: transparent;
}
header #toggle{
    position: absolute;
    left: 90%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header #toggle:before{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #000;
}
header #toggle:after{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #000;   
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: url('/static/image/background2.png');
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
    z-index: 5;
}
.banner.active  header #toggle:before{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.banner.active  header #toggle:after{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.banner.active{
    transition-delay: 0.1s;
    transform: translateX(-400px);
}
.user {
    position: relative;
    display: inline-block;
    left: 15%;
    /* background: red; */
    width: 15%;

} 
.userbtn {
    background: transparent;
    color: #000;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} 
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 
.dropdown-content a:hover {
  background-color: #f1f1f1
} 
.user:hover .dropdown-content {
    display: block;
}

#navigation{
    position: fixed;
    top: 0;
    right: -200px;
    width: 400px;
    height: 100vh;
    background: #40c3ff;
    z-index: 3;   
    display: grid;
    place-items: center;
    transition: 0.5s;
}
#navigation.active{
    right: 0;
}
#navigation ul{
    position: relative;
    display: flex;
    flex-direction: column;
}
#navigation ul li{
    list-style: none;
}
#navigation ul li a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
}
#navigation ul:hover li a{
    color: #0002;
}
#navigation ul li:hover a{
    color: #fff;
}
.container{
    /* margin-left: 100px; */
    margin-top: 8%;
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: row;
}
.container .rows{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 2%;
    background: #fff;
    margin: 10px;
    box-shadow: -10px 10px #003cff;
}
.container .rows .tag{
    font-size: 28px;
    font-weight: 800;
    color: #072F5F;
    margin-bottom: 3%;
    text-transform: uppercase;
}
.container .rows .tag-detail{
    font-size: 18px;
    font-family: airel;
    color: 	#000;
    text-align: justify;
}
.container .rows a{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: #0074ff;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    box-shadow: 7px 7px  #a8a8a8;
}
.container .rows a:hover{
    background-color: #0074ff;
    color: #fff;
    border: transparent;
    box-shadow: -7px -7px  #a8a8a8;

}
.banner .bot_img{
    position: absolute;
    /* height: 80%;
    width: 30%; */
    top: 150px;
    right: 20px;
}
.bot_img img{
    height: 80%;
    width: 80%;
}
.social_icon{
    position: absolute;
    top: 90%;
    left: 6%;
    transform: translateY(-50%);
    width: 100%;
    /* text-align: center; */
    
}
.btn{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}
.btn i{
    line-height: 50px;
    padding-left: 30%;
    font-size: 18px;
    transition: 0.2s linear;
}
.btn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
}
.btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}
@keyframes aaa {
    0%{
      left: -110%;
      top: 90%;
    }50%{
      left: 10%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }
}  
@media (max-width: 1164px){
    .bot_img{
        /* background: #fff; */
        width: 30%;
    }
    /* .userbtn{
        height: 50px;
        width: 50px;
        color: transparent;
        background-size: cover;
        border: transparent;
        background: url('/static/image/avatar.jpg');
    } */
    .user {
        /* left: 65%; */
        /* border: transparent; */
        width: 50px;
        height: 50px;
        background: url('/static/image/avatar.jpg');
        background-size: cover;
        border-radius: 50px;
    }
    .userbtn{
        color: transparent;
        border: transparent;

    }
    .dropdown-content{
        outline: 0;
        left: -100px;
        width: 300%;
    }
    .user:hover .userbtn{
        background: transparent;
        outline: 0px;
    }
}
@media (max-width: 1104px){
    .bot_img{
        /* background: #fff; */
        width: 25%;
    }
}
@media (max-width: 1030px){
    .bot_img{
        /* background: #fff; */
        display: none;
    }
    .container{
        width: 100%;
    }
    .container .rows .tag-detail{
        font-size: 16px;
    }
}
@media (max-width: 934px){
    .user{
        left: 80px;
        top: -10px;
    }
    .container{
        margin-top: 20%;
        flex-direction: column;
        width: 60%;
        height: 700px;
    }
    .container .rows{
        left: 40%;
        margin-top: 20px;
    }
    .container .rows .tag-detail{
        font-size: 26px;
    }
    .container .rows .tag{
        font-size: 45px;
    }
}
@media (max-width: 700px){
    .container .rows .tag{
        font-size: 200%;
    }
    .container .rows .tag-detail{
        font-size: 20px;
    }
}
@media (min-width: 53px) and (max-width:531px){
    .container{
        width: 100%;
    }
    .container .rows{
        left: 5%;
        margin-top: 20px;
    }
}
@media (max-width: 450px){
    #logoname{
        display: none;
    }
    header{
        background: #0f52ba;
        height: 5%;
    }
    header .logo{
        /* display: block; */
        position: relative;
        top: -25px;
        left: -80px;
        margin: 0;
        font-size: 40px;
        font-family: 'Arial Black';
        color: #fff;
    }
    header #toggle{
        top: 25px;
    }
    header #toggle:before{
        background: #fff;
    }
    header #toggle:after{
        background: #fff;
    }
    .user{
        left: 99%;
        top: -20px;
    }
    .banner{
        padding: 30px;
        padding-top: 35%;
    }
    .container{
        width: 100%;
        margin: 0;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }
    .container .rows{
        width: 90%;
        height: 100%;
    }
    .banner.active{
        transition-delay: 0.1s;
        transform: translateX(-300px);
    }
    .social_icon{
        left: 26%;
    }
    .btn{
        height: 40px;
        width: 40px;
        margin: 5px;
    }
    #navigation ul{
        left: 10%;
    }
    .btn i{
        font-size: 15px;
        padding-bottom: 5%;
    }
}