*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    /* overflow: hidden; */
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: url(robot_dance.jpg);
    /* background: #fff; */
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    /* display: flex;
    align-items: center; */
    transition: 0.5s;
    overflow: hidden;
    z-index: 5;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    transition: 0.6s;
    background: #0f52ba;
    z-index: 1;

}
header p{
    position: relative;
    /* top: -40px; */
    margin: 0;
    font-size: 40px;
    font-family: 'Arial Black';
    background: #fff;   
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
header p span{
    text-transform: uppercase;
}
header #toggle{
    position: relative;
    margin-right: 40px;
    margin-top: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header #toggle:before{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 3px;
    background: #fff;
}
header #toggle:after{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 3px;
    background: #fff;   
}
.banner.active  header #toggle:before{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.banner.active  header #toggle:after{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.banner.active{
    transform: translateX(-400px);
}

.banner.active{
    transition-delay: 0.1s;
    transform: translateX(-100%);
}
.hdr{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    transition: 0.6s;
    background: transparent;
    z-index: 1;
}

.navigation{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: url(light_bulb.jpg);
    background-size: cover;
    top: 0;
    z-index: 3; 
    right: 0;
    transition: 0.5s;
}
.navigation ul{
    position: relative;
}
.navigation ul li{
    text-align: center;
    list-style: none; 
}
.navigation ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 3em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transform: 0.5s;
}
.navigation ul:hover li a{
    color: rgba(255, 255, 255, 0.5);
}
.navigation ul li:hover a{
    color: #fff;
    /* background: #fff; */
}
.navigation ul li a:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgba(250, 250, 250, 0.1);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s,left 0.5s;
}
.navigation ul li a:hover:before{
    content: attr(data-text);
    opacity: 1;
    left: 50%;
    letter-spacing: 10px;
    height: 1800px;
    width: 1800px;
}
/* .navigation ul li:nth-child(6n+1) a:before{
    background: #81ecec;
}
.navigation ul li:nth-child(6n+2) a:before{
    background: #ff7675;
}
.navigation ul li:nth-child(6n+3) a:before{
    background: #55efc4;
}
.navigation ul li:nth-child(6n+4) a:before{
    background: #a29bfe;
}
.navigation ul li:nth-child(6n+5) a:before{
    background: #fd79a8;
} */
.social_icon{
    position: absolute;
    top: 90%;
    left: 33%;
    transform: translateY(-50%);
    width: 100%;
    /* text-align: center; */
    
}
.btn{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #f1f1f1;
    margin: 20px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}
.btn i{
    line-height: 50px;
    padding-left: 30%;
    font-size: 18px;
    transition: 0.2s linear;
}
.btn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
}
.btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}
@keyframes aaa {
    0%{
      left: -110%;
      top: 90%;
    }50%{
      left: 10%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }
} 

.addBot{
    position: relative;
    top: 100px;
    /* margin: 10%; */
    height: 100%;
    width: 100%;
    /* border: 2px solid #000; */
}
.container
{
	position: relative;
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container .box
{
	position: relative;
	width: 280px;
	height: 400px;
	margin: 20px 0;
	box-sizing: border-box;
	/* overflow: hidden; */
}
.container .box .imgBx
{
	position: relative;
	top: 0;
    left: 0;
    width: 280px;
    height: 400px;
	/* background: red; */
	clip-path: circle(400px at center 100px);
	transition: 0.5s;
	transition-delay: 0.5s;
}
.container .box .imgBx img{
    width: 280px;
    height: 400px;
}
.container .box:hover .imgBx
{
	clip-path: circle(80px at center 100px);
}
.container .box:hover .imgBx img
{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* object-fit: cover; */
}
.container .box .content
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.container .box .content h2
{
	margin: 0;
	padding: 0;
}
.container .box .content a
{
	text-decoration: none;
	background: #000;
	color: #fff;
	padding: 5px;
	display: inline-block;
}
.container .box .content h2
{
	opacity: 0;
	transition: 0.5s;
	transform: translateY(20px);
}
.container .box .content p
{
    opacity: 0;
    font-size: 14px;
    font-family: 'consolas';
    color: #000;
	transition: 0.5s;
	transform: translateY(20px);
}
.container .box .content a
{
	opacity: 0;
	transition: 0.5s;
	transform: translateY(20px);
}
.container .box:hover .content h2
{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.5s;
}
.container .box:hover .content p
{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.7s;
}
.container .box:hover .content a
{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.9s;
}
.add{
    position: relative;
    float: right;
    top: -200px;
    height: 80px;
}