
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(#0276FD,#00FFFF);
    background-attachment: fixed;
    overflow: hidden;
    font-family: 'Poppins', sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;
}
#particles-js {
    position : absolute;
    width:100%;
    height:100%;
    z-index:-1;
}
form{
    position: relative;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #000;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}


.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #000;
}

.form__field:focus .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;    
  
  /* padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1; */
}

.NMbutton{
    margin-top: 5%;
    margin-right: 7%;
    margin-left: 7%;
    height: 50px;
    width: 150px;
    font-family: 'Poppins', sans-serif; 
    background: transparent;
    border: transparent;
    border-bottom: 2px solid #000;
    color: #000;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
}
.Abutton{
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 5%;
    padding-bottom: 1.5%;
    height: 50px;
    width: 150px;
    font-family: 'Poppins', sans-serif; 
    background: transparent;
    border: transparent;
    border-bottom: 2px solid #000;
    color: #000;
    font-size: 1.5rem;
}
.NMbutton:hover{
    background: #fff;
    border-bottom: transparent;
    border-radius: 10px;
    color: #000;
    transition: 1s;
}

