{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>Caesar Cipher</title>
    </head>
    <link href="{% static 'css/logincss.css' %}" rel="stylesheet">
<body>
        <div id="particles-js"></div>
        <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>


    <form action="/Encrypt/" method="post">
        {% csrf_token %}
        
        <!-- Enter Plain Text:<input type="text" placeholder = "Enter Plain Text" name="plain_text" id="plain_text"/> -->
        <div class="form__group">
            <input type="text" class="form__field" placeholder="Enter Plain Text" name="plain_text" id='plain_text' required/>
            <label for="name" class="form__label">Enter Plain Text</label>
        </div>
        
        <!-- Enter Key:<input type="number" placeholder="Enter Key" name="key" id="key"/> -->
        <div class="form__group">
            <input type="number" class="form__field" placeholder="Enter Key" name="key" id='key' required/>
            <label for="name" class="form__label">Enter Key</label>
        </div>
        <button type="submit" class="NMbutton">Encrypt</button>
    </form>
    {{cipher_text}} <br>
    {{key}}
    {{plain_text}}
    <form action="/Decrypt/" method="post">
        {% csrf_token %}
        <!-- Enter Chiper Text: <input type="text" placeholder = "Enter Cipher Text" name="cipher_text" id="cipher_text"/> -->
        <div class="form__group">
            <input type="text" class="form__field" placeholder="Enter Cipher Text" name="cipher_text" id='cipher_text' required/>
            <label for="name" class="form__label">Enter Cipher Text</label>
        </div>
        <br>
        <!-- Enter Key: <input type="number" placeholder="Enter Key" name="key" id="key"/> -->
        <div class="form__group">
            <input type="number" class="form__field" placeholder="Enter Key" name="key" id='key' required/>
            <label for="name" class="form__label">Enter Key</label>
        </div>
  
        <button type="submit" class="NMbutton">Decrypt</button>
    </form>

</body>
</html>